/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #0a4a72 !important;
  --toolbarbutton-icon-fill: #9acbfa !important;
  --toolbar-field-color: #e0e2e8 !important;
  --tab-selected-textcolor: #9acbfa !important;
  --toolbar-color: #e0e2e8 !important;
  --arrowpanel-color: #e0e2e8 !important;
  --arrowpanel-background: #1c2024 !important;
  --sidebar-text-color: #e0e2e8 !important;
  --zen-main-browser-background: #101418 !important;
  --zen-main-browser-background-toolbar: #101418 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #101418 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #101418 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1c2024 !important;
}

#zen-workspaces-button {
  background-color: #1c2024 !important;
}

#TabsToolbar {
  background-color: #101418 !important;
}

.urlbar-background {
  background-color: #1c2024 !important;
}

.urlbar-input::selection {
  color: #003352 !important;
  background-color: #9acbfa !important;
}

.urlbarView-url {
  color: #c2c7cf !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #9acbfa
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #abd6ff !important;
  --identity-icon-color: #abd6ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #9acbfa !important;
  --identity-icon-color: #9acbfa !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb1 !important;
  --identity-icon-color: #a5ffb1 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffaa5 !important;
  --identity-icon-color: #fffaa5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff772 !important;
  --identity-icon-color: #fff772 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbc !important;
  --identity-icon-color: #ff9fbc !important;
}

.identity-color-pink {
  --identity-tab-color: #baddff !important;
  --identity-icon-color: #baddff !important;
}

.identity-color-purple {
  --identity-tab-color: #224b73 !important;
  --identity-icon-color: #224b73 !important;
}

#zen-appcontent-navbar-container {
  background-color: #101418 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #9acbfa !important;
  color: #9acbfa !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #9acbfa !important;
  color: #9acbfa !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #9acbfa !important;
}
